<html>

<head>
  
    <!-- TEMPLATEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE -->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>G13 Major Project</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="robots" content="all,follow">
      <!-- Bootstrap CSS-->
      <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
      <!-- Font Awesome CSS-->
      <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
      <!-- Google fonts - Roboto -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
      <!-- owl carousel-->
      <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.css">
      <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.css">
      <!-- theme stylesheet-->
      <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
      <!-- Custom stylesheet - for your changes-->
      <link rel="stylesheet" href="css/custom.css">
      <!-- Favicon-->
      <link rel="shortcut icon" href="favicon.png">
      <!-- Tweaks for older IEs--><!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <!-- Captcha -->
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">G13 Major</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/studentBookSearch">Search Book (Student)</a>
              </li>
              <% if(user!=null){ %>
              <li class="nav-item">
                <a class="nav-link" href="/studentCart">Books Cart</a>
              </li>
              <%}%>
            </ul>
          </div>
          <% if(user != null) { %>
            <a class="btn btn-primary" role="button"><%=user.name%></a>
            <a class="btn btn-primary" role="button" href="/logout">Logout</a>
          <% } else {%>
            <a class="btn btn-primary" href="/login" role="button">Student Login / SignUp</a>
          <% } %>
        </div>
      </nav>
