<%- include('partials/booksHeader'); %>

<style>
  body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:900px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
</style>

<div style="background-image: url('https://storage.googleapis.com/lr-assets/shared/1586857293-pexels-photo-590493.jpeg');">
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Add Book in Universal DB</label>
		<div class="login-form">
			<div class="sign-up-htm">
        <form method="POST" action='/books_addBookUniversalDB'>
          <div class="group">
            <label for="class:" class="label">Class</label>
            <select name="class" id="class" class="input">
                <option value="9" class="label">9</option>
                <option value="10" class="label">10</option>
                <option value="11" class="label">11</option>
                <option value="12" class="label">12</option>
            </select>
          </div>
          <div class="group">
            <label class="label">Board</label>
            <select name="board" class="input">
                <option value="CBSE" class="label">CBSE</option>
                <option value="ICSE" class="label">ICSE</option>
            </select>
          </div>
          <div class="group">
            <label class="label">Subject</label>
            <select name="subject" class="input">
                <option value="English" class="label">English</option>
                <option value="Hindi" class="label">Hindi</option>
                <option value="Maths" class="label">Maths</option>
                <option value="Physics" class="label">Physics</option>
                <option value="Chemistry" class="label">Chemistry</option>
                <option value="Biology" class="label">Biology</option>
                <option value="Science" class="label">Science</option>
                <option value="Social Science" class="label">Social Science</option>
                <option value="Punjabi" class="label">Punjabi</option>
            </select>
        </div>
        <div class="group">
          <label class="label">Book Name</label>
          <input type="text" class="input" id="name", name="name">
        </div>
        <div class="group">
            <label class="label">Publisher</label>
            <input type="text" class="input" id="name", name="publisher">
        </div>
        <div class="group">
        <label class="label">Author(s)</label>
        <input type="text" class="input" id="name", name="author">
        </div>
        <div class="group">
          <label class="label">Price</label>
          <input type="number" class="input" name="price">
        </div>
        <div class="group">
					<input type="submit" class="button" value="Add Book">
				</div>
        </form>	
			</div>
		</div>
	</div>
</div>
</div>