<%- include('partials/booksHeader'); %>
<div style="background-image: url('/uploads/bookstore_1.jpg'); background-repeat: no-repeat; background-size: cover; height: 100%;">
  <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5" style="border: 5px dashed black;">
          <h1 class="display-5 fw-bold" style="font-weight: bold;">Student Book Store</h1>
          <p class="col-md-8 fs-4" style="font-style: italic; font-size: large;">Welcome to the student community bookstore. Buy and sell old books here. SAVE TREES, SAVE MONEY, SAVE LIFE!</p>
        </div>
      </div>
  </div>
</div>