<%- include('partials/headerCart'); %>

<div style="padding-left: 2%; padding-top: 5px;">
    <div><h3>SELECT A DELIVERY ADDRESS</h3></div>
    <div style="padding-top: 10px; padding-left: 2.2%;">
        <h4>Saved Address</h4>
        <div>
            <div style="padding-left: 2.3%; width: 15%; float: left;">
                    <div style="font-weight: bold;">Riddhi Mahajan</div>
                    <div>+911597534569</div>
                    <div>Vindhya Hostel, PEC, Sec-12, Chandigarh, India</div>
                    <div style="padding-top: 10px;">
                        <button>Deliver to this address</button>
                    </div>
                    <div style="padding-top: 10px;">
                        <span><button>Edit</button></span>
                        <span style="padding-left: 2.35%;"><button>Delete</button></span>
                    </div>
            </div> 
            <div style="padding-left: 5%; width: 18%; float: left;">
                <div style="font-weight: bold;">Samridhi Mahajan</div>
                <div>+911239876549</div>
                <div>Vindhya Hostel, PEC, Sec-12, Chandigarh, India</div>
                <div style="padding-top: 10px;">
                    <button>Deliver to this address</button>
                </div>
                <div style="padding-top: 10px;">
                    <span><button>Edit</button></span>
                    <span style="padding-left: 2.35%;"><button>Delete</button></span>
                </div>
            </div>
            <div style="padding-left: 5%; width: 18%; float: left;">
                <div style="font-weight: bold;">Ayush</div>
                <div>+919513684256</div>
                <div>Himalaya Hostel, PEC, Sec-12, Chandigarh, India</div>
                <div style="padding-top: 10px;">
                    <button>Deliver to this address</button>
                </div>
                <div style="padding-top: 10px;">
                    <span><button>Edit</button></span>
                    <span style="padding-left: 2.35%;"><button>Delete</button></span>
                </div>
            </div>
        </div>   
    </div>
</div>
<div style="padding-top: 240px;padding-left: 4%;width: 400px;">
    <h4>Add New Address</h4>
    <div style="padding-left: 10%;">
        <form action="#">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <div style="padding-top: 10px;">
                <label for="pincode">Pin Code:</label>
                <input type="text" id="pincode" name="pincode">
            </div>
            <div style="padding-top: 10px;">
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" placeholder="">
            </div>
            <div style="padding-top: 10px;">
                <button>Add Address</button>
            </div>
        </form>
    </div>
</div>