<%- include('partials/header'); %>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="container">
    <form method="POST" action='/login'>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" >Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <div class="mb-3">
          <div class="g-recaptcha" data-sitekey="6Lfh01odAAAAAI65W7MssbK-3ysr2DoT3p_oViur"></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
  document.getElementById('subscribeForm').addEventListener('submit', e => {
    e.preventDefault();

    const email = document.querySelector('#exampleInputEmail1').value;
    const password = document.querySelector('#exampleInputPassword1').value;
    const captcha = document.querySelector('#g-recaptcha-response').value;

    return fetch('/login', {
      method: 'POST',
      headers: { 'Content-type': 'application/json' },
      body: JSON.stringify({email: email, password: password, captcha: captcha })
    })
      .then(res => res.json())
      .then(data => {
        console.log(data);
        alert(data.msg);
        if (data.success) return location.reload();
      });
  });
</script>
</body>
</html>