<%- include('partials/header'); %>


<div class="input-group d-flex align-items-center justify-content-center">
    <form method="POST" action="/makeinindia">
      <div class="form-outline"></div>
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
      </div>
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
</div>

<div class="row">

<% for(let i=0; i<resultArray.length; i++){ %>
  <div class="col-sm-3">
    <div class="card">
      <img class="card-img-top" src="data:image/<%=resultArray[i].image.contentType%>;base64,<%=resultArray[i].image.data.toString('base64')%>">
      <div class="card-body">
        <p class="card-text"><%=resultArray[i].name%></p> 
      </div>
    </div>
  </div>
<%}%>

</div>

  
</body>
</html>