<% console.log("user == " + user) %>
<%- include('partials/header'); %>


<div class= "row small-top-buffer">
  <div class= "col-lg-4"></div>
  <div class= "col-lg-4">
    <div class="container">
      <form action="/1">
        <div class="input-group">
          <input type="text" name="search" class="form-control rounded" placeholder="Search Here" aria-label="Search"
          aria-describedby="search-addon" />
          <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
      </form>
    </div>
  </div>
</div>
