<%- include('partials/header'); %>

<div id="all">
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb" style="padding-top: 3%;">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/makeinindia">Home</a></li>
                <li aria-current="page" class="breadcrumb-item active">Payment Successful</li>
              </ol>
            </nav>
            <div id="error-page" class="row">
              <div class="col-md-6 mx-auto">
                <div class="box text-center py-5">
                  <h1 class="text-center">G13 Major</h1>
                  <img style="height:150;width:150" src="https://media.istockphoto.com/vectors/green-checkmark-vector-illustration-vector-id1133442802?k=20&m=1133442802&s=612x612&w=0&h=N3UvaUREpqMYVpOV7kUrQzgpVaCgddEi-LESGeAl_FI="/>
                  <h3>Your Order has been Placed!</h3>
                  <p>Order id: <%=orderID%></p>
                  <div style="padding-top: 5%;">
                    <span class="buttons" ><a href="/" class="btn btn-primary"><i class="fa fa-home"></i> Go to Homepage</a></span>
                    <span class="buttons" ><a href="/orders" class="btn btn-primary"><i class="fa fa-home"></i> My Orders</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('partials/footer'); %>