<%- include('partials/headerCart'); %>

<div class="payment" style="padding-left: 2%;">
    <div style="padding-top: 2%; font-size: 20px; font-weight: bold;">Select a Payment Method</div>
    <div style="float: right; padding-top: 32%; padding-right: 5%;"> <button>Continue</button></div>
    <div style="padding-left: 1.5%">
        <div style="padding-top: 1.5%;">
            <div style="font-size: 18px; font-weight: bold;">Your saved credit and debit cards</div>
            <div style="padding-top: 1%;">
                <label for="visa" style="padding-left: 2%;">
                    <input type="radio" name="pay" value>
                    <span style="font-size: 15px;">Visa ending in 1234</span>
                </label>
            </div>
            <div style="padding-top: 1%;">
                <label for="mastercard" style="padding-left: 2%;">
                    <input type="radio" name="pay" value>
                    <span style="font-size: 15px;">MasterCard ending in 9876</span>
                </label>
            </div>
        </div>
        <div style="padding-top: 2%;">
            <div style="font-size: 18px; font-weight: bold;">Another payment method</div>
            <div style="padding-top: 1%";>
                <label for="addcard" style="padding-left: 2%;">
                    <input type="radio" name="pay" value>
                    <span style="font-size: 15px;">Add Debit/Credit/ATM Card</span>
                </label>
            </div>
            <div style="padding-top: 1%;">
                <label for="netbanking" style="padding-left: 2%;">
                    <input type="radio" name="pay" value>
                    <span style="font-size: 15px;">Net Banking</span>
                </label>
            </div>
            <div style="padding-top: 3%;">
                <label for="upi" style="padding-left: 2%;">
                    <input type="radio" name="pay" value>
                    <span style="font-size: 15px;">Other UPI Apps</span>
                </label>
            </div>
            <div style="padding-top: 4%;">
                <label for="delievery" style="padding-left: 2%;">
                    <input type="radio" name="pay" value>
                    <span style="font-size: 15px;">Pay on Delivery</span>
                </label>
            </div>
            <div style="padding-top: 1%;">
                <label for="giftcard" style="padding-left: 2%;">
                    <input type="radio" name="pay" value>
                    <span style="font-size: 15px;">Gift Cards</span>
                </label>
            </div>
        </div>
    </div>
</div>