<%- include('partials/header_order'); %>

<div class="cancelorders">
    <div style="padding-left: 2%;">
        <h4>Cancelled Orders</h4>
        <span>1 cancelled orders</span>
    </div>
    <div style="padding-left: 5%; padding-top: 1%;">
        <div style="padding-right: 290px; font-size: 14px;">
            <div style="padding-right:0%; float:left; width: 22%;">
                <div><span class="boxstartlabel">ORDER # 123XXXXX PLACED</span></div>
                <div><span class="boxstartvalue">11 November 2021</span></div>
            </div>
            <div style=" margin-right: 2%; overflow: visible; padding-right: 0%;">
                <div><span class="boxstartlabel" >TOTAL</span></div>
                <div>
                    <span class="boxstartvalue" >
                        <span style="text-decoration: inherit; white-space: nowrap;">
                            <span>Rs.0.00</span> 
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div>
                <span style="font-size: 18px; margin-right: 700px; padding-right:20px;">Cancelled</span>
            </div>
            <div style="padding-right:10%; float: left; font-size: 15px;">
                <span style="padding-left:100px; width: 100px; margin-left: -100px; float: left;">
                    <img src="/uploads/wallsticker.jpg" style="height:90px; width: 80px;">
                </span>
                <span style="padding-left: 9%; float:left; width: 1072px;">
                    <a href="/wall-sticker">Wall Sticker for Home (119cm * 71cm)</a>
                    <span style=" padding-left: 542px; "><a href="/wall-sticker" role="button">Buy Again</a></span>
                </span>
            </div>
        </div>
    </div>
</div>
